/* CSS Document */
html
{
margin:0 0 0 0;
padding:0 0 0 0;
height:auto !important; 
height:100%; 
}
body
{
margin:0 0 0 0;
padding:0 0 0 0;
height:auto !important; 
height:100%; 
}
img {cursor: pointer;}
form{display:inline}
.footer
{
background-color:#4C6D9D;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:14px;
font-weight:bold;
color:white;
padding-left:5px;
padding-right:5px;
padding-bottom:5px;
padding-top:5px;

}
.logo 
{
 background: url(../Storage/Images/logo.gif) no-repeat top left;
 height:67px;
}

.box_middle
{
 background-image:url(../Storage/Images/topmid.gif) ; 
}

.box_left
{
  background-image:url(../Storage/Images/topleft.gif) ;
}

.box_right
{
 background-image:url(../Storage/Images/topright.gif) ;
}

.floatingDivClass
{
  background-color:#73AACC; 
  height:25px; 
  border-color:#73AACC; 
  border:2px;
  zoom:1
}   

.action_heading
{
background-color:#708090;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:18px;
font-weight:bold;
color:white;
padding-left:5px;
padding-right:5px;
padding-bottom:3px;
padding-top:3px;
}
.row_heading
{
  background-color:#BFBFBF;
  font-size:18px;
  font-weight:bold;
  color:white;
  height:10px;
  padding-bottom:1px;
  padding-top:1px;
}

.field1_heading
{
 background-color:#708090;
 font-family:Verdana, Arial, Helvetica, sans-serif;
 font-size:11px;
 font-weight:bold;
 color:white;
 padding-left:5px;
 padding-right:5px;
 padding-top:3px;
 padding-bottom:3px;
 border:1px solid black;
}
.field2_heading
{
 background-color:#BFBFBF;
 font-family:Verdana, Arial, Helvetica, sans-serif;
 font-size:11px;
 font-weight:bold;
 color:white;
 padding-left:5px;
 padding-right:5px;
 padding-top:3px;
 padding-bottom:3px;
 
}
.field3_heading
{
 background-color:#FFFFFF;
 font-family:Arial, Helvetica, sans-serif;
 font-size:11px;
 /*color:white;*/
 COLOR:#1A4A76;
 padding-left:5px;
 padding-right:5px;
 padding-top:0px;
 padding-bottom:1px;
 
}


.misc_heading
{
 background-color:#BFBFBF;
 font-family:Verdana, Arial, Helvetica, sans-serif;
 font-size:11px;
 font-weight:bold;
 color:white;
 padding-left:5px;
 padding-right:5px;
 padding-bottom:3px;
 padding-top:3px;
 border:1px solid black;
}
 
.button_class
{
 background-color:white;
 font-family:Verdana, Arial, Helvetica, sans-serif;
 font-size:11px;
 font-weight:bold;
 color:black;
 border:2px outset #999999;
}
.select_class
{
 background-color:white;
 font-family:Verdana, Arial, Helvetica, sans-serif;
 font-size:11px;
 font-weight:bold;
 color:black;
 border:2px outset #999999;
}
.text_class
{
 color:#708090;
 font-family:Verdana, Arial, Helvetica, sans-serif;
 font-size:11px;
}
a:link
{
 color:#000000;   /*#666666*/
 text-decoration:none;
}
a:visited
{
 color:#000000;
 text-decoration:none;
}
a:hover
{
 color:#1647A0;
 text-decoration:underline;
}

A.redLink{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px; 
    font-weight: bold;
    color: #bb0000 !important;
    text-decoration: none; 
}
A.redLink:hover{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px; 
    font-weight: bold;
    color: #bb0000;    
    text-decoration: underline; 
}

/*Dimmin Divs*/

/*First Modal Type*/
/*General*/
.dimmer 
{
	visibility: hidden;
	position:absolute;
	left:0px;
	top:0px;
	font-family:verdana;
	font-weight:bold;
	padding:0px;
	z-index:5000;


	background:url('../Storage/Images/gray.png');
	/* ieWin only stuff */
	background:none;
	filter:progid:dximagetransform.microsoft.alphaimageloader(src='../Storage/Images/gray.png', sizingMethod='scale');
}

/*Firefox*/
.dimmer_ff 
{
	visibility: hidden;
	position:absolute;
	left:0px;
	top:0px;
	font-family:verdana;
	font-weight:bold;
	padding:0px;
	z-index:5000;
	background:url('../Storage/Images/gray.png');
}


/*Internat Explorer*/
.dimmer_ie 
{
	visibility: hidden;
	position:absolute;
	left:0px;
	top:0px;
	font-family:verdana;
	font-weight:bold;
	padding:0px;
	z-index:5000;
	background-image:none;
	filter:progid:dximagetransform.microsoft.alphaimageloader(enabled=true,src='../Storage/Images/gray.png', sizingMethod='scale');
}
.dimming {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	position:fixed;
	/* set z-index higher than possible */
	z-index:1000;
	visibility: hidden;
	
	border-style: solid;
	border-color: #999999;
	border-width: 1px;

}

/*First Modal Type Ends*/

 /*Second Modal Type*/

#modalPage
{
    display: none;
    position: absolute;
    top: 0px; 
    left: 0px;
}
.modalBackground
{
    filter: Alpha(Opacity=40); -moz-opacity:0.4; opacity: 0.4;
    width: 100%; 
    height: 100%; 
    background-color: #999999;
    position: absolute;
    z-index: 500;
    top: 0px; 
    left: 0px;
}

/*to fix IE6's z-index problem*/
.modalBackground IFRAME
{
 display:none;/*sorry for IE5*/ 
 display/**/:block;/*sorry for IE5*/
 position:absolute;/*must have*/
 top:0;/*must have*/
 left:0;/*must have*/
 z-index:-1;/*must have*/
 filter:mask();/*must have*/
 width:100%;
 height:100%;
}


.modalContainer
{
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1000;
}

/*Second Modal Type Ends*/

/*End of Dimin Divs*/

/*For curly Divs*/
.rounded
 {
   border: 1px solid #beceda;
   zoom:1;
 }
			
.tl
 {
	background: url(../Storage/Images/tl.gif) no-repeat top left;
	margin:-1px;
	background-color:#EDEDED;
}
.tr {background: url(../Storage/Images/tr.gif) no-repeat top right;}
.br {background: url(../Storage/Images/brcorner.gif) no-repeat bottom right;}
.br1 {background: url(../Storage/Images/br.gif) no-repeat bottom right;}
.bl {background: url(../Storage/Images/bl.gif) no-repeat bottom left;}
.tr, .tl, .bl, .br {zoom:1;position:relative;}
.bl{padding:10px;}
/*Curly Div style Ends*/

.text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
 font-weight:bold;
	color: #FFFFFF;
}
.text_loginpanel {
	font-family: Arial;
		font-size: 12px;
 font-weight:bold;

	font-size: 12px;
	color: #666666;
}
#footer
{
width:998px;
background-color:#eaebea;
border: 1px solid #d8d8d8;
height:20px;
position:absolute;
bottom:0px;
left:8px;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
color:#999999;

}
.text a
{
font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	text-decoration:none;
}
.text a:hover
{
font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	text-decoration:underline;
}.text_topright_links {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #999999;
	border: 1px solid #f1f1f1; padding-right:15px;
	background-color:"#f7f7f7";
}
.text_menu {
	font-family: verdana, Helvetica, sans-serif;
	font-size: 11px;
	 
	color: #FFFFFF;
	height:20px;
    /*background-color:#3A92D9;*/
    background-color:#73AACC;
	/*background: url(../Storage/Images/bg.gif)*/; 
	/*background-color:#4FA9DD;*/
}
.title
{
    font-family: verdana, Helvetica, sans-serif;
	font-size: 11px;
	 
	padding:0px 0px 5px 7px;
	color: #000000;
	border-bottom:1px dotted #c6c6c6;
}
.title1
{
    font-family: verdana, Helvetica, sans-serif;
    font-size: 11px;
     
    padding:0px 0px 5px 7px;
    color: #000000;
}
.content
{
   font-family: verdana, Helvetica, sans-serif;
	font-size: 16px;
	padding:17px 5px 0px 5px;
	color: #000000;

}
.tablecontent
{
   font-family: arial;
    font-size: 12px;
    padding:17px 5px 0px 5px;
    color: #000000;

}
.tableborder
{
border:1px solid black;
}
.tablefont{
font-size: 7px;

}
.content_title
{
    font-family: Arial;
	font-size: 12px;
	font-weight:bold;
	padding:5px;
	color:#FFFFFF;
}
.content_title_scroll
{
    font-family: Arial;
    font-size: 15px;
    font-style:italic;
    color:#FFFFFF;
}
.contenttab_border
{
	border: 1px solid #c6c6c6;
	height:20px;
    /*background-color: #7aa3cd;*/
    /*background-color: #8BBEE9;*/
    background-color: #73AACC;
}
.contenttab_border1
{
border: 1px solid #c6c6c6;
border-bottom: 0px solid #c6c6c6;
}
.contenttab_border2
{
border: 1px solid #c6c6c6;
}
.contenttab_row
{
    font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	border-left:1px solid #c6c6c6;
	border-right:1px solid #c6c6c6;
    border-bottom:1px solid #c6c6c6;
	padding:1px;
	color:#000000;
}
.contenttab_row1
{
    font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding:5px;
	color:#000000;
}
.contenttab_row_last
{
    font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	border-left:1px solid #c6c6c6;
	border-right:1px solid #c6c6c6;
	border-bottom:1px solid #c6c6c6;
	padding:0px;
	color:#000000;
}
.contenttab_internal_rows
{
    font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding:1px 1px 1px 1px;
	color:#000000;
	text-align:left;
}
.contenttab_internal_rows1
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding:1px 1px 1px 1px;
    color:#000000;
    text-align:left;
}
.textfield
{
font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	border: 1px solid #c6c6c6;
	height:20px;
	width:200px;
}
.selectfield
{
    font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	border: 1px solid #c6c6c6;
	//height:20px;
	border: 1px solid #c6c6c6;
    width: 186px;
}
.selectfield2
{
    font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	border: 1px solid #c6c6c6;
	height:20px;
	border: 1px solid #c6c6c6;
	width: 170px;
}
.selectfield3
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    border: 1px solid #c6c6c6;
    height:20px;
    border: 1px solid #c6c6c6;
    width: 50px;
}

.upload
{
font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	border: 1px solid #c6c6c6;
	height:20px;
	width:200px;
}
.padding
{
padding:5px 5px 5px 5px;
font-weight: bold;
}
.padding_top
{
padding:2px 1px 1px 1px;
}
.padding_right
{
padding:1px 10px 1px 1px;
}
.padding2
{
padding:0px 5px 5px 5px;
}
.padding_top2
{
 padding-left:1px;
 padding-top:5px;
 padding-bottom:5px;
 padding-right:1px;
 }
.inputbox3
{
	padding: 1px;
	font-family:tahoma;
	 
	border: 1px solid #CCCCCC; 
	text-align:right;
	border-width:1px;
	font-family:Verdana;
	font-size: 11px;

}
.padding_top1
{
padding-top:2px;
padding-bottom:2px;
padding-right:1px;
font-size:11px;

}
.searchhead_text 
{
 height:20px; 
 font-family: Arial, Helvetica, sans-serif;
 font-size: 13px;
 font-weight:bold;
 border-bottom:1px solid #dcdcdc;
 padding:0px 0px 0px 1px;
}
 

.searchhead_text1
{
 height:25px; 
 font-family: Arial, Helvetica, sans-serif;
 font-size: 13px;
 
 
}

.padding_left
{
padding:5px 3px 3px 3px;
padding-left:5px;
}

.padding_left1
{
padding:5px 3px 3px 3px;
padding-left:50px;
}

.padding_more_left
{
padding:5px 3px 3px 3px;
padding-left:171px;
}

.padding_more_right
{
padding:5px 3px 3px 3px;
padding-right:25px;
text-align:right;
}

.padding_more_right1
{
padding:5px 3px 3px 3px;
text-align:right;
padding-left:100px;
}

.textLabel
{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:bold;
color:#FFFFFF;
}
.paging
{
 /*color:#FF0000;*/
	padding-right:2px;
	padding-top:0px;
	padding-bottom:0px;
	border-left:1px solid #c6c6c6;
	border-right:1px solid #c6c6c6;
	border-bottom:1px solid #c6c6c6;
	text-align:right;
	text-decoration:none;
}
.fontText {   /* paging text class*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight:none;
    color:#000000;
}
.pagingLinks {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight:none;
    color:#565352;
    padding: 2px;
}

.paging1
{
 /*color:#FF0000;*/
	font-family: Arial;
	font-size: 12px;
	font-weight:bold;
	color:#0066FF;
	padding-right:5px;
	padding-top:2px;
	padding-bottom:2px;
	 
	padding-right:7px;
	text-align:right;
	text-decoration:none;
}

 
.row2
{
  background-color:#F8F8F8;
  font-size:13px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}
/* ALTERNATE COLORS FOR TDs */
.row0
{
	background-color: #FBFBFB;
    /*background-color: #EAF3FB;*/
	height: 15px;
}
                                   
/* ALTERNATE COLORS FOR TDs */
.row1
{
	background-color: #EDEDED;
    /*background-color: #F1F1F1;*/
	height: 15px;
}

/* (Used in time table))ALTERNATE COLORS FOR TDs */
.trow0
{
    background-color: #FBFBFB;
    height: 15px;
    font-size:11px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
 }

/* ALTERNATE COLORS FOR TDs */
.trow1
{
    background-color: #EDEDED;
    height: 15px;
    font-size:11px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
 }
.timtd
{
 border:1px solid #C7C7C7;
 

}


.rowSelected
{
	background-color: #808080;
	height: 15px;
}
.scroll {
	scrollbar-arrow-color:#1b6078;
	scrollbar-3dlight-color: #e5ecdf;
	scrollbar-darkshadow-color: #a8c4af;
	scrollbar-face-color: #a7c3af;
	scrollbar-highlight-color: #a8c4af;
	scrollbar-shadow-color: #e5ecdf;
	scrollbar-track-color: #d7e5ee;
	overflow: auto; 
	height:390px !important;  
	height:335px; 
	 
	padding-right:10px;
}
.scroll1 {
	scrollbar-arrow-color:#1b6078;
	scrollbar-3dlight-color: #e5ecdf;
	scrollbar-darkshadow-color: #a8c4af;
	scrollbar-face-color: #a7c3af;
	scrollbar-highlight-color: #a8c4af;
	scrollbar-shadow-color: #e5ecdf;
	scrollbar-track-color: #d7e5ee;
	overflow: auto; 
	height:330px !important;  
	height:280px; 
	 
	padding-right:10px;
}
.inputbox, .inputbox0
{
	padding: 1px;
	font-family:tahoma;
	font-size: 11px;
/*	font-weight:bold; */
/* margin: 0px 0px 0px 0px;*/
	border: 1px solid #CCCCCC; 
	border-width:1px;
	font-family:Verdana;
	font-size: 12px;
	width:180px;

}
.inputbox1
{
	padding: 1px;
	font-family:tahoma;
	font-size: 11px;
/*	font-weight:bold; */
/* margin: 0px 0px 0px 0px;*/
	border: 1px solid #CCCCCC; 
	 
	border-width:1px;
	font-family:Verdana;
	font-size: 12px;

}
.inputbox2
{
	padding: 1px;
	font-family:tahoma;
	font-size: 11px;
/*	font-weight:bold; */
/* margin: 0px 0px 0px 0px;*/
	border: 1px solid #CCCCCC; 
	text-align:right;
	border-width:1px;
	font-family:Verdana;
	font-size: 12px;

}
.button
{
	
	color: #6C737A;
	font: 10px arial;
	/*border: 1px solid #838383;*/
	padding-right: 10px;
	padding-left: 3px;

}
.border
{
 border:2px solid #73AACC;
 border-top:0px;
 
 
}
/* CAPTION SETTINGS FOR INPUT FORMS */
.input_form_caption_td
{
	padding-right: 6px;
	text-align: right;
	font-weight: bold;
	color: #0F52B6;
}
.input_form_caption_td2
{
	padding-right: 6px;
	text-align: left;
	font-weight: bold;
	color: #0F52B6;
}
.input_table td
{
	border-bottom: 1px solid #CCCCCC;
	background-color: #FFFFFF;
}
.unsortable
{
	background-color:#d4d4d4; border-bottom:1px solid #dcdcdc; padding:5px 5px 5px 5px;
}
.rowheading
{
	background-color:#d4d4d4;
	height:25px;
}
.rowheading2
{
	background-color:#d4d4d4;
	height:10px;
}
.error
{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:bold;
color:#9B1102;
}
/**/
.listing_table {
	BACKGROUND-COLOR: #cccccc
}
.listing_table TD {
	PADDING-LEFT: 3px; PADDING-TOP: 0px
}
#listpage_button_bar {
	BORDER-RIGHT: #bcb997 1px solid; BORDER-TOP: #bcb997 1px solid; MARGIN: 0px 0px 5px; BORDER-LEFT: #bcb997 1px solid; BORDER-BOTTOM: #bcb997 1px solid; HEIGHT: 75px; BACKGROUND-COLOR: #fcfcf8
}
.my_icon {
	FILTER: alpha(opacity=80); WIDTH: 113px; HEIGHT: 100px; TEXT-DECORATION: none; moz-opacity: .80; opacity: .80
}
.my_icon A:link {
	TEXT-DECORATION: none
}
.my_icon A:active {
	TEXT-DECORATION: none
}
.my_icon A:visited {
	TEXT-DECORATION: none
}
.my_icon A:hover {
	TEXT-DECORATION: none
}
.pressNo {
	
}
.pressDown {
	MARGIN-TOP: 3px; PADDING-LEFT: 1px; MARGIN-LEFT: 1px; PADDING-TOP: 2px; TEXT-DECORATION: none
}
.my_icon_hover {
	PADDING-LEFT: 1px; FILTER: alpha(opacity=100); PADDING-TOP: 1px; moz-opacity: .100; opacity: .100
}
#desktop_content_div {
	BORDER-RIGHT: #29379f 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #29379f 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; MARGIN: 9px; BORDER-LEFT: #29379f 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #29379f 1px solid; HEIGHT: auto; BACKGROUND-COLOR: #d4d8e2
}
.desktop_icon_table {
	BACKGROUND-COLOR: #cccccc
}
.headings {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #d4d8e2
}
.headings1 {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; 
}
.footertext {
	FONT-SIZE: 11px; COLOR: #212121; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.maindeskbg {
	BORDER-RIGHT: #cecece 1px solid; BORDER-TOP: #cecece 1px solid; BORDER-LEFT: #cecece 1px solid; BORDER-BOTTOM: #cecece 1px solid; BACKGROUND-COLOR: #f6f7ff
}
.loginbox {
	BORDER-RIGHT: #c5c5c5 1px solid; BORDER-TOP: #c5c5c5 1px solid; BORDER-LEFT: #c5c5c5 1px solid; BORDER-BOTTOM: #c5c5c5 1px solid; BACKGROUND-COLOR: #f4f4f4
}
.login {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND-IMAGE: url(../../images/index/loginbutton.jpg); WIDTH: 55px; COLOR: #232323; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 23px
}
.boldgreytext {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #232323; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.bluetext {
	PADDING-RIGHT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #001553; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.breadcrumbs {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #001553; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.breadcrumbs:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #fe070e; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}

.headerRow {
	COLOR:#FFFFFF; BACKGROUND-COLOR:#FF0000;FONT-WEIGHT: bold; FONT-SIZE: 11px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.reportDataBold {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.reportData {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.redColor{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px; 
    font-weight: bold; 
    COLOR: #BB0000;
}
.redColorBig{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px; 
    font-weight: bold; 
    COLOR: #BB0000;
}
.small_txt
{
 font-family: Arial, Helvetica, sans-serif;
 font-size: 10px;
 text-align: center;
 width:20px;
 height:15px;
 }

/*class added for reporting.*/
BR.page { page-break-after: always }

.headingFont {
	height:25px;FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif;
}
.dataFont {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif;
}

.reportTitle {
	height:35px;FONT-WEIGHT: bold; FONT-SIZE: 16px; text-decoration:none; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif;
}

.reportDateTime {
	height:15px;FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif
}

.reportFooter {
	height:15px;FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif;
}

.reportInformation {
	height:15px;FONT-WEIGHT: normal; FONT-SIZE: 11px; font-style:italic;COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif;
}
/*Blue theme table - left, right, bottom border*/
.leftBorder{border-left: 1px solid #cdcdcd;}
.rightBorder{border-right: 1px solid #cdcdcd;}
.bottomBorder{border-top: 1px solid #cdcdcd;}
.fontTitle{font-family: Arial, Helvetica, sans-serif; font-size: 14px; COLOR:#1A4A76;font-weight: bold;}
/*font medium*/
.fontTitleM{font-family: Arial, Helvetica, sans-serif; font-size: 12px; COLOR:#1A4A76;font-weight: none;}

/*---------- bubble tooltip -----------*/
/*css moved to bt.css*/
/*---------- bubble tooltip ends-----------*/ 

/* class for reports, Please do make your table border="1" */
.reportTableBorder {
	border-collapse:collapse;
}

.htmlElement
{
    font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	border: 1px solid #c6c6c6;
	height:20px;
	color:#000000;
}

.contenttab_border2
{
border: 1px solid #c6c6c6;
}

.reportBorder
{
border: 1px solid #FFFFFF;
}


/*CSS for scrollers*/

#pscroller2{
width:600px;
height: 15px;
border: 0px solid black;
text-align:left;
}

#pscroller2 a{
text-decoration: none;
}

.someclass{ 
/*class to apply to your scroller(s) if desired*/
}

#headerimg
 {
  margin-top:1px;
  /*border: 1px solid #E5E5E5;*/
  float:left;
  padding:2px;
  white-space:nowrap;
 }

#headertextbox
{
  width:100%;
  float:left;
  margin: 3px 0 0 8px;
}
#headertextbox span
{
 /*border: 1px solid #E5E5E5;*/ 
 line-height:17px;
 width:68.8%;
 float:left;
 font-size:11px;
 color:#0F3FA1;
 font-family:Arial;
 text-align:left;
 padding:.2ex 0;
 margin-top:1px;
}
#headertextbox .text_scroll
{
    width:84.5% ! important;  
    color:#FFFFFF;
    font-size: 12px; 
}
#headertextbox h4
{
    font-size:11px;
    font-family:Georgia;
}
.receiptClass
{
FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif;	
 border-bottom:1px solid black;
}
.receiptBox{
FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif;	
 border:1px solid black;
}
/*CSS for scrollers Ends*/

/* */

/*
// $History: $
*/

 /*CSS FOR EXPANDIBLE/COLLAPSIBLE DIVS*/

.wrap {
    width:500px;
    max-width:500px;
    margin:0 1px;
    text-align:left;
    position:relative;
    }

.left {
    float:left;
    }

div.right, div.left {
    }

.box {
    background:#fff url(../Storage/Images/box10000.gif) top left no-repeat;
    margin-bottom:12px;
    }

.box .b2 {
    background:transparent url(../Storage/Images/box20000.gif) bottom right no-repeat;
    }

.box .b3 {
    background:transparent url(../Storage/Images/box30000.gif) bottom left no-repeat;
    }


.left .box .b4 {
    padding:12px;
    min-height:100px;
    background:transparent url(../Storage/Images/box40000.gif) top right no-repeat;
    }

img{
border:0;
}
/*CSS FOR EXPANDIBLE/COLLAPSIBLE DIVS ENDS*/
p {margin: 0; padding: 1px;}

a.allReportLink {
	font-weight: normal; font-size: 12px; COLOR: #4289B7; FONT-FAMILY: Arial, Helvetica, sans-serif;
}

a.allReportLink:hover {
	font-weight: normal; font-size: 12px; COLOR: #CC0000; FONT-FAMILY: Arial, Helvetica, sans-serif;
}

.showHideRow {
	background-color:#E0ECF3;
}

.highlightRow {
	background-color:#D3E4EF;
}
.small {
	font-weight: normal; font-size: 10px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif;
}
.htmlElement2
{
    font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	border: 1px solid #c6c6c6;
}
.htmlElement3
{
    font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	border: 0px solid #c6c6c6;
}

.lightBlue {
	background-color:#DAE9F1;
}
.inputboxRed
{
	padding: 1px;
	font-family:tahoma;
	font-size: 11px;
	border: 1px solid #FF0000; 
	border-width:1px;
	font-family:Verdana;
	font-size: 12px;

}

.accessDenied {
	background-color:#CC0000;
	height:40px;
	font-weight: normal; font-size: 12px; COLOR: #FFFFFF; FONT-FAMILY: Arial, Helvetica, sans-serif;
	border:1px dotted #FFFF00;
	padding-left:20px;

}

.headingMenu {
	font-weight: bold; 
	font-size: 16px; 
	COLOR: #000000; 
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	padding-left:5px;
}

.headingMenuRow {
	background-color: #CC0000; 
}

.headingSubMenu {
	font-weight: bold; 
	font-size: 12px; 
	COLOR: #000000; 
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	padding-left:10px;
}

.headingSubMenuRow {
	background-color:#E0ECF3;

}

.padLeft20 {
	padding-left:20px;
}

.highlightPermission {
	background-color:#2F5E79;
	color:#FFFFFF;
}

.sectionAllocationTable {
	border-top:1px solid #CCCCCC;
}

.highlightPermissionBlue {
	background-color:#448BB7;
	color:#FFFFFF;
}

/*I-Card CSS -- start --*/

.frontname {
     font-family:Arial; font-size:12px; font-weight: bold;
}    
.contentstitle {
    padding-left:5px; padding-right:5px; padding-top:5px; 
    font-family:Arial; font-size:11px; font-weight:bold; 
}
.instruction {
     font-family:Arial; font-size:7px; font-weight: normal;
}
.barname {
     font-family:Arial; font-size:12px; font-weight: normal; letter-spacing:6px;
}
.address { 
     font-family:Arial; font-size:10px; font-weight: bold; margin-top:-5px;
}
.contentsname { 
    padding-left:5px; padding-right:5px; padding-top:5px; 
    font-family:Arial; font-size:10px; font-weight: normal;
}
.icardtable {
     border:solid 1px #000000; padding:2px;
}     

.icardtd {
   padding-left:5px; padding-right:5px; padding-top:5px;  font-family:Arial; font-size:10px; font-weight: bold;  
}

.bborder {
    border: 1px solid #000; 
    border-width:1px;
}


/*I-Card CSS -- end --*/

/* Time table text box */
.smalltxtbox{
    width:50px;
}


.icardTitle{ 
    font-weight: bold; 
    font-size: 11px; 
    COLOR: #000; 
    FONT-FAMILY: Arial, Helvetica, sans-serif;
}

.icardHeading{ 
    font-size: 10px; 
    font-weight: bold; 
    COLOR: #000; 
    FONT-FAMILY: Arial, Helvetica, sans-serif;
}

.icardNormal{ 
    font-size: 10px; 
    font-weight: normal; 
    COLOR: #000; 
    FONT-FAMILY: Arial, Helvetica, sans-serif;
}


.tdBorder{       
   border-bottom: 1px solid #000; 
   font-size: 10px; 
   font-weight: normal; 
   COLOR: #000; 
   FONT-FAMILY: Arial, Helvetica, sans-serif;
}


.icardContent{ 
    font-weight: bold; 
    font-size: 9px; 
    COLOR: #000; 
    FONT-FAMILY: Arial, Helvetica, sans-serif;
}

.icardData{ 
    font-size: 8px; 
    font-weight: bold; 
    COLOR: #000; 
    FONT-FAMILY: Arial, Helvetica, sans-serif;
}

.icardBar{ 
    font-size: 10px; 
    font-weight: bold; 
    word-spacing: 6px;
    COLOR: #000; 
    FONT-FAMILY: Arial, Helvetica, sans-serif;
}

.signPadding {
   
    padding-right: 0px;
}
/*For Login Page*/
.login_body{
   background:#578511 url(../Storage/Images/bg_login.gif) repeat-x; 
   margin-top:0px; margin-left:0px; margin-right:0px;
}

.attendanceShortCSS {
    FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif
}

.attendanceShortTableBoderCSS {
    FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; border-collapse:collapse
}

.hrList {
   color: #000000;
   margin-left:50px;
   width:90%;
}

.instrunctions
{
 /*color:#FF0000;*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    padding:1px 1px 1px 1px;
    color:#000000;
    text-align:justify; 
    padding-right:5px;
}